body {
  cursor: url('./cursor-final.png'), auto;
}







/* Sourced from w3schools.com, modified to fit my needs. */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.contacts{
  text-align:center;
}

.projects{
  text-align:center;
}

.project-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 1;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 5;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 6;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 6;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 6;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 10;
}

.div13 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 10;
}

.div14 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 10;
}
        